<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="https://github.com/ultraq/thymeleaf-layout-dialect"
      layout:decorate="~{layouts/loggedInLayout}">
<head>
    <title th:text="#{people.label}"></title>
</head>

<body>
<section class="container">
    <div layout:fragment="content">

        <h2 class="row">
            <div class="inner">
                <label th:text="#{people.label}"></label>

            </div>
        </h2>

        <div th:if="${#strings.toString(param.create)} == 'success'" class="alert alert-info">
            <span th:text="#{people.create.success}"></span>
        </div>
        <div th:if="${#strings.toString(param.delete)} == 'success'" class="alert alert-danger">
            <span th:text="#{people.delete.success}"></span>
        </div>
        <div th:if="${#strings.toString(param.update)} == 'success'" class="alert alert-success">
            <span th:text="#{people.update.success}"></span>
        </div>


        <table class="table table-striped">
            <thead>
            <tr>
                <th th:text="#{people.createPerson.username}"></th>
                <th th:text="#{people.createPerson.name}"></th>
                <th th:text="#{people.createPerson.email}"></th>
                <th><a th:href="@{'/people/create/'}"
                       th:text="#{common.create}"
                       class="btn btn-outline-primary btn-sm"
                       th:if="${#authorization.expression('hasRole(''ROLE_CREATE_USER'')')}"></a>
                </th>
            </tr>
            </thead>
            <tr th:each="person : ${people}">
                <td>
                    <a th:href="@{people/{id}(id=${person.id})}"
                       th:text="${person.username}"></a>
                </td>
                <td th:text="${person.name}"></td>
                <td th:text="${person.email}"></td>
                <td>
                    <div class="pull-right">
                        <a class="btn btn-outline-success btn-sm"
                           th:if="${#authorization.expression('hasRole(''ROLE_EDIT_USER'')')}"
                           th:text="#{common.edit}"
                           th:href="@{people/edit/{id}(id=${person.id})}"></a>
                    </div>
                </td>
            </tr>
        </table>

        <nav th:if="${people.totalPages gt 1}">
            <ul class="pagination pagination-sm justify-content-center">
                <li class="page-item" th:classappend="${people.number eq 0} ? 'disabled'">
                    <a class="page-link"
                       th:href="@{/people?page={id}(id=${people.number lt 2 ? 1 : issues.number})}"
                       aria-label="Previous" th:title="#{pagination.previous}" data-toggle="tooltip">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item" th:classappend="${i eq people.number + 1} ? 'active'"
                    th:each="i : ${#numbers.sequence( 1, people.totalPages, 1)}">
                    <a class="page-link" th:href="@{/people?page={id}(id=${i})}" th:text="${i}"
                       th:title="#{pagination.page}+' '+${i}" data-toggle="tooltip"></a>
                </li>
                <li class="page-item" th:classappend="${people.number + 1 eq people.totalPages} ? 'disabled'">
                    <a class="page-link"
                       th:href="@{/people?page={id}(id=${people.number + 2})}"
                       aria-label="Next" th:title="#{pagination.next}" data-toggle="tooltip">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>

    </div>
</section>
</body>
</html>