<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="https://github.com/ultraq/thymeleaf-layout-dialect"
      layout:decorate="~{layouts/loggedOutLayout}">
<head>
    <title th:text="#{contact.label}"></title>
</head>
<body>
<section class="container">
    <div layout:fragment="content">
        <h2>
            Kontakt
        </h2>

        <div>
            Radosław Sorbian -- radoslaw.sorbian@gmail.com
        </div>
    </div>

</section>
</body>
</html>