<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="https://github.com/ultraq/thymeleaf-layout-dialect"
      layout:decorate="~{layouts/loggedInLayout}">
<head>
    <title th:text="#{projects.label}"></title>
</head>

<body>
<section class="container">
    <div layout:fragment="content">
        <h2 th:text="#{projects.label}"></h2>

        <form th:action="@{/projects/save}"
              th:object="${project}"
              method="post">
            <div class="row">
                <div class="mb-3">
                    <div>
                        <label for="name"
                               class="form-label"
                               th:text="#{projects.name}"></label>
                    </div>
                    <div>
                        <input id="name"
                               type="text"
                               th:field="*{name}"
                               th:class="'form-control ' + ${#fields.hasErrors('name') ? 'is-invalid' : ''}"/>
                        <small class="text-danger"
                               th:if="${#fields.hasErrors('name')}"
                               th:errors="*{name}"></small>
                    </div>
                </div>
                <div class="mb-3">
                    <div>
                        <label for="content"
                               class="form-label"
                               th:text="#{projects.content}"></label>
                    </div>
                    <div>
                        <textarea id="content"
                                  type="text"
                                  rows="10"
                                  th:field="*{content}"
                                  th:class="'form-control ' + ${#fields.hasErrors('content') ? 'is-invalid' : ''}"></textarea>
                        <small class="text-danger"
                               th:if="${#fields.hasErrors('content')}"
                               th:errors="*{content}"></small>
                    </div>
                </div>
            </div>

            <div class="inner pull-right mt-3">
                <button type="submit"
                        class="btn btn-outline-primary btn-sm"
                        th:text="#{common.save}"></button>
                <a class="btn btn-outline-danger btn-sm"
                   th:if="${project.id} and ${#authorization.expression('hasRole(''ROLE_DELETE_PROJECT'')')}"
                   th:text="#{common.delete}"
                   th:href="@{../delete/{id}(id=${project.id})}"></a>
                <a class="btn btn-outline-secondary btn-sm"
                   th:href="@{/projects}"
                   th:text="#{common.cancel}"></a>
            </div>
        </form>

    </div>
</section>
</body>
</html>