<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="https://github.com/ultraq/thymeleaf-layout-dialect"
      layout:decorate="~{layouts/loggedInLayout}">
<head>
    <title th:text="#{projects.label}"></title>
</head>

<body>
<section class="container">
    <div layout:fragment="content">
        <h2 class="row">
            <div class="inner">
                <label th:text="#{projects.details}"></label>
                <a class="btn btn-outline-success btn-sm"
                   th:if="${#authorization.expression('hasRole(''ROLE_EDIT_PROJECT'')')}"
                   th:text="#{common.edit}"
                   th:href="@{edit/{id}(id=${project.id})}"></a>
            </div>
        </h2>

        <form th:object="${project}">
            <div class="row">
                <div class="mb-3">
                    <div>
                        <label for="name"
                               class="form-label"
                               th:text="#{projects.name}"></label>
                    </div>
                    <div>
                        <input id="name"
                               type="text"
                               th:field="*{name}"
                               class="form-control"
                               disabled/>
                        <small class="text-danger"
                               th:if="${#fields.hasErrors('name')}"
                               th:errors="*{name}"></small>
                    </div>
                </div>
                <div class="mb-3">
                    <div>
                        <label for="content"
                               class="form-label"
                               th:text="#{projects.content}"></label>
                    </div>
                    <div>
                        <textarea id="content"
                                  type="text"
                                  rows="10"
                                  th:field="*{content}"
                                  class="form-control"
                                  disabled></textarea>
                        <small class="text-danger"
                               th:if="${#fields.hasErrors('content')}"
                               th:errors="*{content}"></small>
                    </div>
                </div>
            </div>

            <div class="inner pull-right mt-3">
                <a class="btn btn-outline-secondary"
                   th:href="@{/projects}"
                   th:text="#{common.cancel}"></a>
            </div>
        </form>

    </div>
</section>
</body>
</html>