<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="https://github.com/ultraq/thymeleaf-layout-dialect"
      layout:decorate="~{layouts/loggedInLayout}">
<head>
    <title th:text="#{issues.edit.label}"></title>
</head>

<body>
<section class="container">
    <div layout:fragment="content">
        <h2 th:text="#{issues.edit.label}"></h2>

        <form th:action="@{/issues/update/{id}(id=${issue.id})}"
              th:object="${issue}"
              method="post">

            <input type="hidden" th:field="*{id}"/>

            <div class="row">
                <div class="col-9">
                    <div class="mb-3">
                        <div>
                            <label for="title"
                                   class="form-label"
                                   th:text="#{issues.title}"></label>
                        </div>
                        <div>
                            <input id="title"
                                   type="text"
                                   th:field="*{title}"
                                   th:class="'form-control ' + ${#fields.hasErrors('title') ? 'is-invalid' : ''}"/>
                            <small class="text-danger"
                                   th:if="${#fields.hasErrors('title')}"
                                   th:errors="*{title}"></small>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div>
                            <label for="content"
                                   class="form-label"
                                   th:text="#{issues.content}"></label>
                        </div>
                        <div>
                        <textarea id="content"
                                  type="text"
                                  rows="10"
                                  th:field="*{content}"
                                  th:class="'form-control ' + ${#fields.hasErrors('content') ? 'is-invalid' : ''}"></textarea>
                            <small class="text-danger"
                                   th:if="${#fields.hasErrors('content')}"
                                   th:errors="*{content}"></small>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="mb-3">
                        <div>
                            <label for="priority"
                                   class="form-label"
                                   th:text="#{issues.priority}"></label>
                        </div>
                        <div>
                            <select id="priority"
                                    th:field="*{priority}"
                                    class="form-control">
                                <option th:value="${null}"
                                        th:text="#{issues.priority.placeholder}"></option>
                                <option th:each="priority : ${priorities}"
                                        th:value="${priority}"
                                        th:text="${#messages.msg('priority.' + priority)}"></option>
                            </select>
                            <small class="text-danger"
                                   th:if="${#fields.hasErrors('priority')}"
                                   th:errors="*{priority}"></small>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div>
                            <label for="type"
                                   class="form-label"
                                   th:text="#{issues.type}"></label>
                        </div>
                        <div>
                            <select id="type"
                                    th:field="*{type}"
                                    class="form-control">
                                <option th:value="${null}"
                                        th:text="#{issues.type.placeholder}"></option>
                                <option th:each="type : ${types}"
                                        th:value="${type}"
                                        th:text="${#messages.msg('type.' + type)}"></option>
                            </select>
                            <small class="text-danger"
                                   th:if="${#fields.hasErrors('type')}"
                                   th:errors="*{type}"></small>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div>
                            <label for="project"
                                   class="form-label"
                                   th:text="#{issues.project}"></label>
                        </div>
                        <div>
                            <select id="project"
                                    th:field="*{project}"
                                    class="form-control">
                                <option th:value="${null}"
                                        th:text="#{project.placeholder}">
                                </option>
                                <option th:each="project : ${projects}"
                                        th:value="${project.id}"
                                        th:text="${project.name}"></option>
                            </select>
                            <small class="text-danger"
                                   th:if="${#fields.hasErrors('project')}"
                                   th:errors="*{project}"></small>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div>
                            <label for="assignee"
                                   class="form-label"
                                   th:text="#{issues.assignee}"></label>
                        </div>
                        <div>
                            <select id="assignee"
                                    th:field="*{assignee}"
                                    class="form-control">
                                <option th:value="${null}"
                                        th:text="#{assignee.placeholder}"></option>
                                <option th:each="person : ${people}"
                                        th:value="${person.id}"
                                        th:text="${person.name}"></option>
                            </select>
                            <small class="text-danger"
                                   th:if="${#fields.hasErrors('assignee')}"
                                   th:errors="*{assignee}"></small>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div>
                            <label for="state"
                                   class="form-label"
                                   th:text="#{issues.state}"></label>
                        </div>
                        <div>
                            <select id="state"
                                    th:field="*{state}"
                                    class="form-control">
                                <option th:value="${null}"
                                        th:text="#{state.placeholder}"></option>
                                <option th:each="state : ${states}"
                                        th:value="${state}"
                                        th:text="${#messages.msg('state.' + state)}"></option>
                            </select>
                            <small class="text-danger"
                                   th:if="${#fields.hasErrors('state')}"
                                   th:errors="*{state}"></small>
                        </div>
                    </div>
                </div>

            </div>
            <div class="inner pull-right mt-3">
                <button type="submit"
                        class="btn btn-outline-primary"
                        th:text="#{common.save}"></button>
                <a class="btn btn-outline-danger"
                   th:if="${issue.id} and ${#authorization.expression('hasRole(''ROLE_DELETE_ISSUE'')')}"
                   th:text="#{common.delete}"
                   th:href="@{../delete/{id}(id=${issue.id})}"></a>
                <a class="btn btn-outline-secondary"
                   th:href="@{/issues}"
                   th:text="#{common.cancel}"></a>
            </div>
        </form>

    </div>
</section>
</body>
</html>