<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="https://github.com/ultraq/thymeleaf-layout-dialect"
      layout:decorate="~{layouts/loggedInLayout}">
<head>
    <title th:text="#{issues.label}"></title>
</head>

<body>
<section class="container">
    <div layout:fragment="content">
        <h2 class="row">
            <div class="inner">
                <hr>
                <label th:text="#{issues.label}"></label>
               <hr>
            </div>
        </h2>

        <form th:action="@{/issues}"
              th:object="${filter}">
            <div class="row">
                <div class="col-auto">
                    <select th:field="*{project}"
                            class="form-control">
                        <option th:value="${null}"
                                th:text="#{project.placeholder}">
                        </option>
                        <option th:each="project : ${projects}"
                                th:value="${project.id}"
                                th:text="${project.name}"></option>
                    </select>
                </div>
                <div class="col-auto">
                    <select th:field="*{assignee}"
                            class="form-control">
                        <option th:value="${null}"
                                th:text="#{assignee.placeholder}"></option>
                        <option th:each="person : ${people}"
                                th:value="${person.id}"
                                th:text="${person.name}"></option>
                    </select>
                </div>
                <div class="col-auto">
                    <select th:field="*{state}"
                            class="form-control">
                        <option th:value="${null}"
                                th:text="#{state.placeholder}"></option>
                        <option th:each="state : ${states}"
                                th:value="${state}"
                                th:text="${#messages.msg('state.' + state)}"></option>
                    </select>
                </div>
                <div class="col-auto">
                    <button class="btn btn-outline-primary btn-sm"
                            type="submit"
                            th:text="#{common.search}"></button>
                    <a th:href="@{/issues}"
                       th:text="#{common.clear}"
                       class="btn btn-outline-secondary btn-sm"></a>
                    <a th:href="@{'/issues/create/'}"
                       th:text="#{common.create}"
                       class="btn btn-outline-primary btn-sm"
                       th:if="${#authorization.expression('hasRole(''ROLE_CREATE_ISSUE'')')}">
                    </a>
                </div>
            </div>
        </form>

        <table class="table table-striped">
            <thead>
            <tr>
                <th th:text="#{issues.title}"></th>
                <th th:text="#{issues.project}"></th>
                <th th:text="#{issues.priority}"></th>
                <th th:text="#{issues.assignee}"></th>
                <th th:text="#{issues.state}"></th>
                <th></th>
            </tr>
            </thead>
            <tr th:each="issue : ${issues}">
                <td>
                    <a th:text="${issue.title}"
                       th:href="@{issues/{id}(id=${issue.id})}"></a>
                </td>
                <td th:text="${issue.project.name}"></td>
                <td th:text="#{${'priority.' + issue.priority}}"></td>
                <td th:text="${issue.assignee != null} ? ${issue.assignee.name} : #{issues.assignee.empty}"></td>
                <td th:text="#{${'state.' + issue.state}}"></td>
                <td>
                    <div class="pull-right">
                        <a class="btn btn-outline-success btn-sm"
                           th:if="${#authorization.expression('hasRole(''ROLE_EDIT_ISSUE'')')}"
                           th:text="#{common.edit}"
                           th:href="@{issues/edit/{id}(id=${issue.id})}"></a>
                    </div>
                </td>
            </tr>
        </table>

        <nav th:if="${issues.totalPages gt 1}">
            <ul class="pagination pagination-sm justify-content-center">
                <li class="page-item"
                    th:classappend="${issues.number eq 0} ? 'disabled'">
                    <a class="page-link"
                       th:href="@{/issues?page={id}(id=${issues.number lt 2 ? 1 : issues.number})}"
                       aria-label="Previous"
                       th:title="#{pagination.previous}"
                       data-toggle="tooltip">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item"
                    th:classappend="${i eq issues.number + 1} ? 'active'"
                    th:each="i : ${#numbers.sequence( 1, issues.totalPages, 1)}">
                    <a class="page-link"
                       th:href="@{/issues?page={id}(id=${i})}"
                       th:text="${i}"
                       th:title="#{pagination.page}+' '+${i}"
                       data-toggle="tooltip"></a>
                </li>
                <li class="page-item"
                    th:classappend="${issues.number + 1 eq issues.totalPages} ? 'disabled'">
                    <a class="page-link"
                       th:href="@{/issues?page={id}(id=${issues.number + 2})}"
                       aria-label="Next"
                       th:title="#{pagination.next}"
                       data-toggle="tooltip">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>

    </div>
</section>
</body>
</html>